<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.brisco.BridgeCalculatorPro"
      android:versionCode="23"
      android:versionName="2.3.3">
    <application android:icon="@drawable/icon" 
        		 android:label="@string/app_name" 
        		 android:name="com.brisco.BridgeCalculatorPro.BridgeCalculatorProApplication"
        		 android:allowBackup="true">
        <activity android:name=".SplashScreen"
                  android:label="@string/app_name"
				  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.brisco.BridgeCalculatorPro.main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity 	android:name=".Rubber.RubberActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>
		<activity 	android:name=".Rubber.ChicagoActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>
		<activity 	android:name=".Rubber.RussianActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>
		<activity 	android:name=".Rubber.RussianBoardActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>
		<activity 	android:name=".ScoreSheet.ScoreSheetListViewActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>
		<activity 	android:name=".ScoreSheet.BoardActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>		
		<activity 	android:name=".ScoreSheet.AuctionActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>		
		<activity 	android:name=".ScoreSheet.DealActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>		
		<activity 	android:name=".Contract.ContractActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>
		<activity 	android:name=".Contract.LeadActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>
		<activity 	android:name=".Teams.TeamsListViewActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>		
		<activity 	android:name=".Teams.BoardActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>	
		<activity 	android:name=".Teams.TeamsContractActivity"
					android:label="@string/app_name"
					android:theme="@android:style/Theme.NoTitleBar">		
		</activity>	
			
		<activity android:name=".Preferences"
          android:label="@string/app_name">
		</activity>
    </application>
<uses-sdk android:minSdkVersion="4"></uses-sdk>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<supports-screens android:smallScreens="true" android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" />
</manifest> 